.keyboard{
    display: flex;
    gap: 1;

}

.keyboard button{
    margin: 0.66rem;
    flex-basis: 50px;
    flex-grow: 0;
    height: 50px;
    font-size: 1.5em;
    line-height: 50px;
    border-radius: 50%;
    padding: 0;
    display:block;
    font-weight: bold;
}